:root{
    --purple: #2f192e;
    --purple-light: #30192d;
    --dark-blue: #012677;
    --blue: #5c65c0;
    --skyblue: #00b4fc;
    --light-blue: #005bc5;
    --dark-pink:#f64c57;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: poppins, sans-serif;
}

#menu-horizontal {list-style-type: none; padding: 0;  background:transparent; 
    
}
#menu-horizontal li{
    display: inline; 
}

#menu-horizontal li a{
    display: inline;   color: rgb(0, 0, 0); margin-top: 10px; font-weight: bold; font-size: 20px; text-decoration:solid; padding: 20px; display: inline-block;  transition: background .6s; 
}

#menu-horizontal li a:hover{ color: rgb(0, 3, 46); background-color: rgb(43, 255, 0);

}
body{
    /*background: linear-gradient(45deg, var(--purple), var(--purple-light));*/
    background: linear-gradient(90deg, #2f192e, #f64c57, #5c65c0 , #fbff00, #3a0337);
    background-size: 400% 400%;
    animation: anim 2.5s infinite ease-in-out;

    
}
@keyframes anim{
    0%{
        background-position: 0 50%;

    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}    
    



.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.profile-card{
    background: #111;
    width: 400px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.profile-card .profile-pic{
    margin-top: 15px;
    overflow: hidden;
}
.profile-card .profile-pic img{
    border-radius: 10px;
}
.profile-card .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.profile-details .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-details .intro h2{
    margin-top: 20px;
}
.profile-details .intro h4{
   background: #1d1d1d;
   font-weight: 400;
   border-radius: 4px;
   padding: 5px 10px;
   margin: 8px;
}
.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;

}
.profile-details .intro .social i {
    color: #ddd;
    font-size: 16px;
    background-color:#222 ;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;

}
.profile-details .intro .social i:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.profile-details .contact-info{
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.profile-details .contact-info .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    margin-bottom: 10px;
}
.contact-info .row .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: #fff;
    transition: 0.5s;

}
.row .icon:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.row .content{
    min-height: 70%;
}
.row .content span{
    font-size: 12px;
}

/**/
.about{
   
    background-color: #111;
    max-width: 600px;
    padding: 2rem 3rem;
    border-radius: 10px;
}
.about h1{
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}
.about h1::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: linear-gradient(45deg, #f64c57, #5f0231);
}
.about h2{
    color: #fff;
    font-size: 2rem;
    margin: 0.5rem 0;
}
.about p{
    color: #fff;
    margin: 1.5rem 0;
}

/*Exemplo no celular*/
@media(max-width:768px)
{
    .about{
        width: 100%;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;

    }
    .about h1{
        font-size: 2.2rem ;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
    }
    
}